@import "tailwindcss";
@plugin "daisyui" {
  prefix: "daisy-";
  themes: all;
  /*exclude: rootscrollgutter;*/
}

/*@variant dark (&:where(.dark, .dark *));*/

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 360px !important;
}
